spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/fitness_db
    username: hbstudent
    password: hbstudent

  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/